html, body {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #383838;
}

header {
  background-image: url(images/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 180px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  color: white;
}

.title1 {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.title2 {
  margin: 0 auto;
  font-size: 2.4rem;
  letter-spacing: 8px;
  position: relative;
  width: 250px;
  z-index: 1;
}

.title2::before {
  content: '';
  width: 240px;
  height: 3px;
  background-color: dodgerblue;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: -1;
}

main {
  padding-top: 70px;
}

main > ul > li:nth-child(odd) > img {
  width: 55px;
  margin-top: -38px;
  position: absolute;
  left: 12px;
}

main > ul > li:nth-child(even) > img {
  width: 55px;
  margin-top: -38px;
  position: absolute;
  right: 12px;
}

main > ul > li {
  margin: -20px auto;
  padding: 10px 10px 0 10px;
}

main > ul > li:nth-child(odd) {
  position: relative;
  width: 250px;
  background: #222222;
  border-radius: 10px;
  left: -150px;
}

main > ul > li:nth-child(odd):after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent #222222;
  display: block;
  width: 0;
  z-index: 1;
  right: -8px;
  top: 43%;
}

main > ul > li:nth-child(even) {
  position: relative;
  width: 250px;
  background: #222222;
  border-radius: 10px;
  left: 153px;
}

main > ul > li:nth-child(even):before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #222222;
  display: block;
  width: 0;
  z-index: 1;
  right: 270px;
  top: 43%;
}

main > ul > li:nth-child(odd) > .year {
  font-size: 4rem;
  font-weight: 700;
  color: #1c90ff;
  text-align: right;
  margin-bottom: 5px;
}

main > ul > li:nth-child(even) > .year {
  font-size: 4rem;
  font-weight: 700;
  color: #1c90ff;
  text-align: left;
  margin-bottom: 5px;

}

main > ul > li:nth-child(odd) > .version {
  font-size: 1rem;
  color: lightgrey;
  text-align: right;
  margin-bottom: 13px;
  padding-right: 3px;
}

main > ul > li:nth-child(even) > .version {
  font-size: 1rem;
  color: lightgrey;
  text-align: left;
  margin-bottom: 13px;
  padding-left: 3px;
}

.description {
  font-size: 1rem;
  color: #808080;
  padding: 20px 0 20px 40px;
  background-color: #111111;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.description ::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #808080;
  border-radius: 50%;
  left: 30px;
}

.description > li {
  margin: 5px 0;
}

/* 중앙선 꾸미기 */
.line {
  position: absolute;
  width: 3px;
  height: 1392px;
  background-color: dodgerblue;
  top: 350px;
  left: 50%;
}

main > ul > li:nth-child(odd) > .year::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 43%;
  left: 279px;
  background-color: #808080;
  border: 5px solid dodgerblue;
  border-radius: 50%;
  z-index: 1;
}

main > ul > li:nth-child(even) > .year::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 43%;
  left: -24px;
  background-color: #808080;
  border: 5px solid dodgerblue;
  border-radius: 50%;
  z-index: 1;
}